body {
     background-color: pink;
     font-family: sans-serif;
     margin: 1vw;
     padding: 0px;
     height: 100vh;
     background: linear-gradient(#f7f6a6, pink);
     color: #45413a;
}

a {
       color: #759032;
       text-decoration: none;
	   text-shadow: 1px 1px 2px #f7f6a6;
}

article {
      text-align:center;
      padding-left: 1vw;
      padding-right: 1vw;
      border: .75vw solid #fff;
      height:88vh;
}

sect {
     // border: solid thin;
     height: 19vh !important;
     position: relative;
     display:block;
}

sect p {
     position: relative;
     // border: solid thin;
}

header {
       height: 25vh !important;
       position: relative;
}

header h1 {
       padding-top:1rem;
}

header h1 a {
     color:#45413a;
     text-decoration: none;
}

#main-text p {
	   font-size:1.5rem;
	   font-weight: 700;
	   text-shadow: 1px 1px 2px #83d0eb;
}

footer {
	   padding: 0px !important;	   
	   text-align:center;
       height: 10vh !important;
     position: relative;
}

.center {
   margin: 0;
   position: absolute;
   top: 50%;         
   left: 50%;
   margin-right: -50%; 
   transform: translate(-50%, -50%)
}

#main-text {
	 // border: solid thin;
	 height:16vh !important;
}

#action {
	 display:block;
}

#action button {
}

#alt-text {
       display:block;
       color: #45413a;
       font-style:italic;
       height: 17vh !important;
       font-family:monospace;
       font-size:1rem;
}

.hey-look {
	  font-weight: 700;
}

#motto {
          text-shadow: 1px 1px 2px #3584b7;
	  font-weight: 100;
	  color: #000;
}

#avocado {
	 	 font-size: 6rem;
}

.wrap {
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

#crush-it {
	border: 0;
	line-height: 2.5;
	padding: 0 20px;
	text-align: center;
	color: #f7f6a6;	// #3c5116;
	border-radius: 10px;
				      
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .2),
        	    inset -2px -2px 3px rgba(0, 0, 0, .3);

	background-color: #759032;	// #f7f6a6;
	font-size:2rem;
	font-weight: 700;
	display:block;
}

#crush-it a {
     color:#f7f6a6;
     text-decoration: none;
     text-shadow: none !important;
}

#missioninteger {
		font-size:3rem !important;
		margin-top:2.5rem !important;
}

@media (max-width: 1000px) {

       #avocado {
       		font-size: 3.5rem !important;
		margin-bottom:1rem;
       }

       header h1 {
       	      padding-top:0px !important;
       }

       #main-text p {
       		       font-size:1.1rem !important;       
       }

       #main-text #missioninteger {
       		       font-size:1rem !important;
       }

       #alt-text {
              height: 19vh !important;
	      }	      
}

@media (max-width: 900px) {

       body {
       	    padding: 1vh !important;
       }

       article {
	       padding: 5vw !important;
	       border: 2vw solid #fff;
	       margin-bottom: 4vw !important;
       }

       #avocado {
       		font-size: 3rem !important;
		margin-bottom:1rem;
       }

       #pullquote {
	   font-size:1.75em !important;
      }

      #crush-it {
      		font-size:1.5rem !important;
		line-height: 1.5rem !important;
		padding: 1rem;
      }
}

@media (max-width: 700px) {

       #avocado {
       		font-size: 3em !important;
		margin-bottom:1em;
       }

       #pullquote {
	   font-size:1.1em !important;
      }

      #main {
      	   padding: 3vw !important;
	   max-height:70vh !important;
      }

      footer {
	     // top: 65vh;
      }
}

@media (max-width: 500px) {

       #avocado {
       		font-size: 2.5em !important;
		margin-bottom:1em;
       }

       #action button {
	position: relative;
	   top: 0vh;
       }

}

@media (max-width: 400px) {

       #avocado {
       		font-size: 2em !important;
		margin-bottom:2em;
       }

}

@media (max-width: 320px) {

       #avocado {
       		font-size: 2em !important;
		margin-bottom:1em;
       }

       #action button {
       }

}
