body {
     background-color: pink;
     font-family: sans-serif;
     // color: #3c5116;
     margin: 1vw;
     padding: 0px;
     height: 100vh;
     background: linear-gradient(#f7f6a6, pink);
}

article {
      text-align:center;
	       padding: 2vw;
	       border: .75vw solid #fff;
	       height:88vh;
}

header {
       padding: 0px;
       margin: 0px;
	   height: 20vh !important;
}

header h1 {
       padding: 0px;
       margin: 0px;
       margin-top:1.5rem;
       color: #45413a;
}

header h1 a {
       color:#45413a;
       text-decoration: none;
}

footer {
	   position: absolute;
	   bottom: 5vh;
	   padding: 0px !important;	   
	   display:block;
	   left:5vw;
	   width:90vw;
	   text-align:center;
}

#main-text {
	   height: 20vh !important;
	   display:block;
}

#main-text p {
	   position: relative;
	   top: 5vh;
}

#action {
	   height: 20vh !important;
	   display:block;
}

#action button {
	position: relative;
	   top: 2vh;
}

#alt-text {
	   height: 20vh !important;
	   display:block;
       color: #45413a;
       font-style:italic;
       font-size:small;
       font-family:monospace;
}

.hey-look {
	  font-weight: 700;
}

#motto {
          text-shadow: 1px 1px 2px  #8ba938;
	  font-weight: 100;
	   color: #fff;
}

#avocado {
	 font-size: 6rem;
}

.wrap {
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

#crush-it {
	border: 0;
	line-height: 2.5;
	padding: 0 20px;
	text-align: center;
	color: #f7f6a6;	// #3c5116;
	border-radius: 10px;
				      
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .2),
        	    inset -2px -2px 3px rgba(0, 0, 0, .3);

	background-color: #759032;	// #f7f6a6;
	font-size:2rem;
	font-weight: 700;
}

#pullquote {
	   font-size:1.5rem;
	   font-weight: 700;
	   text-shadow: 1px 1px 2px #83d0eb;
	   margin-bottom:3rem;
}


#missioninteger {
		font-size: 2rem;
		color: #83d0eb;
		text-shadow: 1px 1px 2px pink;
		display:none;
		margin: 2rem;
		font-weight: 700;
}

#missioninteger:before {
		       content: "👏 Your new integer is ";
}

#missioninteger:after {
		      content: ". What a great number! 👏";
}

@media (max-width: 1000px) {

       #avocado {
       		font-size: 3.5rem !important;
		margin-bottom:1rem;
       }

}

@media (max-width: 900px) {

       body {
       	    padding: 1vh !important;
       }

       article {
	       padding: 5vw !important;
	       border: 2vw solid #fff;
	       margin-bottom: 4vw !important;
       }

       #avocado {
       		font-size: 3rem !important;
		margin-bottom:1rem;
       }

       #pullquote {
	   font-size:1.75em !important;
      }

      #crush-it {
      		font-size:1.5rem !important;
		line-height: 1.5rem !important;
		padding: 1rem;
      }
}

@media (max-width: 700px) {

       #avocado {
       		font-size: 3em !important;
		margin-bottom:1em;
       }

       #pullquote {
	   font-size:1.1em !important;
      }

      #main {
      	   padding: 3vw !important;
	   max-height:70vh !important;
      }

      footer {
	     // top: 65vh;
      }
}

@media (max-width: 500px) {

       #avocado {
       		font-size: 2.5em !important;
		margin-bottom:1em;
       }

       #action button {
	position: relative;
	   top: 0vh;
       }

}

@media (max-width: 400px) {

       #avocado {
       		font-size: 2em !important;
		margin-bottom:2em;
       }

}

@media (max-width: 320px) {

       #avocado {
       		font-size: 2em !important;
		margin-bottom:1em;
       }

       #action button {
       }

}
